.button1 {
    font-family: "helvetica", "Arial", Times, serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    background-color: #9AE3F5;
    border-radius: 15px;
    border: none;
    color: white;
    outline: none;
}

/*.button1:focus {
    outline: 0;

}*/

.button1:hover {
    background-color: #4CCCDC;
    transition: 0.3s ease;
    outline: 0;
    
}