{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/mainUI.css')}}">
{% endblock %}

{% block app_content %}
	<link rel="stylesheet" type="text/css" href="../static/css/followings.css">
	<link rel="stylesheet" type="text/css" href="../static/css/button1.css">
    <div class="followings_list">
    	<div class="followings_nav">
    		<ul>
    			<li><a href="{{ url_for('following', username=user.username) }}">Following</a></li>
    			<li id="current_following_tab">Followers</li> 
    		 	<li><a href="{{ url_for('artist_following', username=user.username) }}">Artist Following</a></li>
    		</ul>
    	</div>
    	<ul id="horizontal-list">
    		{% for user in followers %}
    			<li>
    				<!-- <input name="{{ user.username }}" value="{{ user.username }}"type="checkbox"> -->
    				
					<a href="{{ url_for('user', username=user.username) }}">
						<div class="mini_card">
							<div class="profile_section1">
								<!-- {{ user.username }} -->
								<img id="profile_pic" src="{{ user.avatar(200, user.username) }}" width="125" height="125" >
							</div>

							<div class="profile_section2">
								<p id="profile_info">{{ user.username }}</p>
								<hr>
								{% if current_user.is_following(user) %}
									<a href="{{ url_for('unfollow', username=user.username) }}"><button class="button1" value="Redirect" method="post">Unfollow</button></a>
								{% else %}
									<a href="{{ url_for('follow', username=user.username) }}"><button class="button1" value="Redirect" method="post">Follow</button></a>
								{% endif %}

							</div>
							
						</div>
					</a>
    				
    			</li>	
    		{% endfor %}
    	</ul>
	    <!-- <input type="submit" value="Remove"> -->

    </div>
{% endblock %}