{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/mainUI.css')}}">
{% endblock %}

{% block app_content %}
    <h1>Update Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(size=32) }}<br>
            {% for error in form.old_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32) }}<br>
            {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.new_password2.label }}<br>
            {{ form.new_password2(size=32) }}<br>
            {% for error in form.new_password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}